<div class="wrapper" id="home-hero">
  <div class="eyebrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
      <circle cx="3" cy="3" r="3" fill="#5C57CD" />
    </svg>
    <p class="small-font-white">Boutique web design & development</p>
  </div>
  
    <h1>Modern websites built for your <span class="highlight">future growth.</span>
    </h1>
  
  <p class="white" id="home-hero-body">
    Cynthius Solutions is a boutique agency dedicated to personalized, scalable
    creations — pairing the front-end engagement you need with full backend
    support to scale and grow your brand or business.
  </p>
  
  <div id="hero-buttons">
    {{ partial "components/btn-primary.html" }}

    <button class="btn-secondary"><a href="/portfolio">View Portfolio</a></button>
  </div>
</div>