<div class="wrapper">
  <div class="eyebrow">
    <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" viewBox="0 0 6 6" fill="none">
      <circle cx="3" cy="3" r="3" fill="#5C57CD" />
    </svg>
    <p class="small">Boutique web design & development</p>
  </div>
  
    <h1>Modern websites built for your <span class="highlight">future growth.</span>
    </h1>
  
  <p class="large-font" id="hero-body">
    Cynthius Solutions is a boutique agency dedicated to personalized, scalable
    creations — pairing the front-end engagement you need with full backend
    support to scale and grow your brand or business.
  </p>
  <div id="hero-buttons">
    <button class="btn-primary"><a href="/contact">Book Consultation</a>
      <div id="btn-primary-icon">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_45_52)">
          <path d="M3.125 10H16.875" stroke="#5C57CD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M11.25 4.375L16.875 10L11.25 15.625" stroke="#5C57CD" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round" />
        </g>
        <defs>
          <clipPath id="clip0_45_52">
            <rect width="20" height="20" fill="#fff" />
          </clipPath>
        </defs>
      </svg>
      </div>
    </button>

    <button class="btn-secondary"><a href="/portfolio">View Portfolio</a></button>
  </div>
</div>