<div class="wrapper" id="platforms">
  <p class="section-heading">PLATFORMS & TECHNOLOGIES</p>
  <h2>We work with the tools you already use</h2>
  <p>
    Whether you're launching fresh or migrating from an existing platform, we
    have deep experience across the most popular stacks and the flexibility to
    go custom when you need it.
  </p>
  <div id="pills">
    <div class="pill">
        <img
            src="icons/platforms/wordpress.svg"
            alt="wordpress logo"
            height="20"
            width="20"
          />
          <p>WordPress</p>
    </div>
    <div class="pill">
        <img
            src="icons/platforms/shopify.svg"
            alt="shopify logo"
            height="20"
            width="20"
          />
          <p>Shopify</p>
    </div>
    <div class="pill">
        <img
            src="icons/platforms/squarespace.svg"
            alt="squarespace logo"
            height="20"
            width="20"
          />
          <p>Squarespace</p>
    </div>
    <div class="pill">
        <img
            src="icons/platforms/woocommerce.svg"
            alt="woocommerce logo"
            height="20"
            width="20"
          />
          <p>WooCommerce</p>
    </div>
    <div class="pill">
        <img
            src="icons/platforms/stripe.svg"
            alt="stripe logo"
            height="20"
            width="20"
          />
          <p>Stripe</p>
    </div>
    <div class="pill">
        <img
            src="icons/platforms/aws.svg"
            alt="aws logo"
            height="20"
            width="20"
          />
          <p>Amazon Web Services</p>
    </div>
    <div class="pill">
        <img
            src="icons/platforms/api.svg"
            alt="custom api logo"
            height="20"
            width="20"
          />
          <p>Custom APIs</p>
    </div>
    <div class="pill">
        <img
            src="icons/platforms/membership.svg"
            alt="membership logo"
            height="20"
            width="20"
          />
          <p>Membership Platforms</p>
    </div>
  </div>
</div>
