<div class="wrapper" id="testimonials">
  <div id="testimonial-content">
    <div id="testimonials-eyebrow">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="6"
        height="6"
        viewBox="0 0 6 6"
        fill="none"
      >
        <circle cx="3" cy="3" r="3" fill="#5C57CD" />
      </svg>
      <p class="small-font-white">Testimonials</p>
    </div>
    <h2 class="white">What Our Amazing Clients Say</h2>
    <p class="white">
      From solo creators to growing businesses, our clients trust Cynthius
      Solutions to build websites that actually work — and keep working as they
      scale.
    </p>
    <div id="testimonial-buttons">
      <button id="btn-arrow-left">
        <img
          src="icons/arrow-left.svg"
          alt="view previous testimonial"
          height="20"
          width="20"
        />
      </button>
      <button id="btn-arrow-right">
        <img
          src="icons/arrow-right.svg"
          alt="view next testimonial"
          height="20"
          width="20"
        />
      </button>
    </div>
  </div>
  <div id="testimonial-cards">
    <div id="testimonial-card">
      <p class="white">
        “I've been using Insta and TikTok for about three years and needed a
        decent website to manage my new courses and all the press contacts.
        Cynthius handled everything and gave me an easy way to update things on
        my own from now on. Thank you!”
      </p>
      <div id="testimonial-profile">
        <img
          src="images/pages/avatar.svg"
          alt="client portrait photo"
          height="40"
          width="40"
        />
        <p class="white">- Amanda, Content Creator</p>

        <div id="testimonial-rating">
          <img
            src="images/pages/testimonial-star.svg"
            alt="review star rating"
            height="20"
            width="20"
          />
          <img
            src="images/pages/testimonial-star.svg"
            alt="review star rating"
            height="20"
            width="20"
          />
          <img
            src="images/pages/testimonial-star.svg"
            alt="review star rating"
            height="20"
            width="20"
          />
          <img
            src="images/pages/testimonial-star.svg"
            alt="review star rating"
            height="20"
            width="20"
          />
          <img
            src="images/pages/testimonial-star.svg"
            alt="review star rating"
            height="20"
            width="20"
          />
        </div>
      </div>
    </div>
  </div>
</div>
