<div class="wrapper">
  <div id="about-approach-container">
    
      <div>
        <img src="/images/pages/system-widget.png" />
      </div>
      <div id="about-approach-content">
        <p class="section-heading">Our Approach</p>
        <h2>Scalable for future growth</h2>
        <p>
          We build websites that are more than just functional. By combining
          scalable backend systems with modern, eye-catching front-end design,
          we create digital experiences that are:
        </p>
        <ul class="about-approach-content-list">
          <li><p class="bold">Fast and easy to update</p></li>
          <li><p class="bold">Smoothly integrated with your tools</p></li>
          <li><p class="bold">Designed around your audience's needs</p></li>
          <li><p class="bold">Built to improve efficiency</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
