<div class="wrapper">
    <div id="founder-text">
        <p class="section-heading">Our Team</p>
        <h2>Meet the Founder</h2>
        <p>Kirsten Horvath graduated from UW-Milwaukee with a B.S in Business Administration - Information Technology Management. After a decade of growing her career in IT, she decided to go her own way. She founded Cynthius Solutions in January 2025. She is genuinely passionate about technology and helping others meet their business goals.</p>
    </div>
    <div>
        <img src="/images/pages/founder.png">
    </div>
</div>