<div class="wrapper">
  <p class="section-heading">Our Team</p>
  <h2 style="text-align: center;">Meet the Founder</h2>
  <div id="about-founder">
    <div id="founder-text">
      <p>
        Kirsten Horvath founded Cynthius Solutions as a natural evolution of her
        personal and professional experience. With a background in web
        development and IT support, Kirsten brings a business-minded approach to
        every new client project.
      </p>

      <p>
        Kirsten graduated from the University of Wisconsin-Milwaukee with a B.S.
        in Business Administration: Information Technology Management. She spent
        over a decade perfecting her IT skills, working with clients and
        managers across different areas of technology to solve complex problems
        with practical solutions.
      </p>

      <p>
        That blend of business savvy and technical experience shaped the
        creation of Cynthius Solutions. No website is viewed as a “one and done”
        project. Each is examined through the lens of where a client is now,
        what framework will support their operations, and where they are going
        in the future.
      </p>

      <p>
        As the primary developer at Cynthius Solutions, Kirsten often works
        directly with clients throughout the entire development process. This
        includes everything from the customer-facing aspects of a layout to
        hosting, content updates, maintenance, and long-term technical support.
        When a project requires additional expertise, she can collaborate with
        known marketing and design professionals to bring the right set of
        skills to the project without necessarily expanding its scope.
      </p>

      <p>
        Most importantly, Cynthius Solutions is about long-term client
        relationships. Each unique website is built to complement the customer's
        goals, growing and evolving with business changes and personal journeys.
        Learn more about this process by contacting Cynthius Solutions directly.
      </p>
    </div>
    <div id="founder-pic">
      <img src="/images/pages/founder.png" />
    </div>
  </div>
</div>
