<div class="wrapper">
    <div id="about-projects-top">
        <h2>Our Recent Web Design Projects</h2>
        <button class="btn-primary-no-icon"><a href="/portfolio">View More</a></button>
    </div>

    <div id="about-projects-content">
        <div id="about-projects-demo">
            <img src="/images/pages/about-projects-image.png">
        </div>
        <div id="about-projects-text">
            <div class="about-project">
                <div>
                    <p>01</p>
                    <p>CyberShield</p>
                </div>
                <div>
                    <p>
                        CyberShield partnered with us to enhance their Shopify headless store, using NextJS, resulting in a superior user experience in their custom PC building platform.
                    </p>
                </div>
                <div>
                    <p>Apps Used:</p>
                    <img src="/icons/projects/shopify.svg">
                </div>
                <div>
                    <p>UI Design</p>
                    <p>UX Design</p>
                </div>
            </div>
        </div>
    </div>
</div>