<div class="wrapper" id="home-cta">
  <div class="cta-bg">
    <div class="cta-content">
      <h2 class="white">
        Personalized Website Strategy Over Cookie-Cutter Templates
      </h2>
      <p class="white">
        We treat every project as a complete business system. We learn your goals, identify your unique strengths, and build technology that puts your best digital foot forward. 
Contact us today to set up a consultation and build a responsive, fully supported website that works for your brand, processes, and customers.
      </p>
      {{ partial "components/btn-primary-white.html" }}
    </div>
  </div>
</div>
