<div class="wrapper" id="home-cta">
  <div class="cta-bg">
    <div class="cta-content">
      <h2 class="white">
        Ready to Build a Website That Supports Your Next Stage?
      </h2>
      <p class="white">
        Your website should be more than a digital placeholder. It should be a
        flexible, professional system that helps your brand grow, connect with
        customers, and create new opportunities. Book a consultation with
        Cynthius Solutions and let's build a modern, mobile-responsive website
        designed around your goals.
      </p>
      <button class="btn-primary-white">
        <a href="/contact">Book Consultation</a>
        <div id="btn-primary-white-icon">
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_45_52)">
              <path
                d="M3.125 10H16.875"
                stroke="#fff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M11.25 4.375L16.875 10L11.25 15.625"
                stroke="#fff"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
            <defs>
              <clipPath id="clip0_45_52">
                <rect width="20" height="20" fill="#fff" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </button>
    </div>
  </div>
</div>
