<div class="wrapper" id="footer">
  <div class="footer-grid">
    <div id="footer-brand">
      <img
        src="/logo.svg"
        alt="Cynthius Solutions Logo"
        height="38"
        width="168"
      />
      <p class="white">
        Cynthius Solutions is a boutique web design and development agency
        offering personalized problem-solving and technical consulting that
        empowers your brand with a stunning, modern, and mobile-responsive
        online presence.
      </p>
    </div>
    <div id="footer-nav">
      <p class="bright">NAVIGATE</p>
      <a href="/"><p class="white">Home</p></a>
      <a href="/services"><p class="white">Services</p></a>
      <a href="/about"><p class="white">About</p></a>
      <a href="/portfolio"><p class="white">Portfolio</p></a>
    </div>
    <div id="footer-company">
      <p class="bright">COMPANY</p>
      <a href="/about"><p class="white">Our Story</p></a>
      <a href="/blog"><p class="white">Blog</p></a>
      <a href="/careers"><p class="white">Careers</p></a>
      <a href="/privacy"><p class="white">Privacy Policy</p></a>
    </div>
    <div id="footer-social">
      <p class="bright">GET IN TOUCH</p>
      <a href="mailto:contact@cynthius-solutions.com"
        ><p class="white">Email</p></a
      >
    </div>
  </div>
  <div id="footer-copyright">
    <p class="white">
      Copyright Cynthius Solutions {{ now.Year }}. All rights reserved.
    </p>
  </div>
</div>
