<nav>
    <div class="nav-logo">
        <p>LOGO!!</p>
    </div>
    <div class="desktop-menu">
        {{ partial "menu.html" (dict "menuID" "main" "page" .) }}
    </div>
    <div class="hamburger-menu">
        <button id="hamburger-button" class="mobile-only"><a href="#">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
        </a>
        </div>
    <div class="mobile-menu">
        {{ partial "menu-mobile.html" (dict "menuID" "mobile" "page" .) }}
    </div>
    <div class="nav-cta">
        <button>CTA Button</button>
    </div>
</nav>