<div class="wrapper">
  <div id="services-brand-grid">
    <div id="services-brand-image">
      <img
        src="/images/pages/services-brand.png"
        alt="Screenshot of demo client site"
      />
    </div>
    <div id="services-brand-content">
      <h2>Websites Built for Your Brand Voice</h2>
      <p>
        When you hire a web design agency, you don't want the runaround from
        siloed departments. Your site needs a personalized approach that
        celebrates your strengths and drives real business results. At Cynthius
        Solutions, we offer full-stack web development and mobile-responsive
        design to help you convert more leads, build authority in your niche,
        and turn your online presence into a scalable asset.
      </p>
      {{ partial "components/btn-primary.html" }}
    </div>
  </div>
</div>
