/* HERO SECTION */

.wrapper#about-hero {
padding-top: 140px;
padding-bottom: 126px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

text-align: center;
}


.wrapper#about-hero h2 {
width: 80%;
}

.wrapper#about-hero p {
width: 65%;
}


.wrapper#about-hero button {
margin-top: 58px;
}




/* BRAND SECTION */

#about-brand-container {
display: flex;
flex-direction: row;

}

#about-brand-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-brand-content .section-heading {
text-align: left;
}

#about-brand-content button {
margin-top: 32px;
}

/* APPROACH SECTION */


#about-approach-container {
display: flex;
flex-direction: column;
}

#about-approach-content {
  display: flex;
  flex-direction: column;
align-items: flex-start;
gap: 24px;
}

#about-approach-content .section-heading {
text-align: left;
}


.about-approach-content-list {
list-style-image: url("static/images/pages/list-dot.svg");
list-style-type: circle;
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}



/* PORTFOLIO SECTION */

#about-projects-top {
display: flex;
justify-content: center;
align-items: center;
gap: 60px;
align-self: stretch;
}

#about-projects-top > h2 {
flex: 1 0 0;
}

#about-projects-content {
display: flex;
height: 610px;
gap: 24px;

}

#about-projects-demo {

}

#about-projects-text {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;

}

.about-project {
grid-row: span 1;
border: dashed;
padding: 24px;
}

.about-project-title {
display: flex;
}

.about-project-description {
display: none;
}

.about-project-description p {
margin-top: 20px;
margin-bottom: 20px;
}

.about-project-apps {
display: flex;
}

.about-project-tags {
display: flex;
}

/* .about-project-name {

}

.about-project-details {
display: none;
} */




/* FOUNDER SECTION */

.wrapper#founder {
padding-top: 100px;
padding-bottom: 100px;
}

#founder-heading {
text-align: left;
}

#founder-text p {
margin-bottom: 24px;
}


#about-founder {
display: flex; 
flex-direction: column;
}

#founder-pic {
margin: auto;
} 

#founder-blurb {

position: relative;
  bottom: 80px;
  left: -40px;
  padding: 16px 18px;
  width: 180px;
display: flex;
flex-direction: column;
align-items: flex-start;

border-radius: 14px;
background: var(--White, #FFF);
box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
}

#founder-blurb #name {

}

@media screen and (min-width: 768px) {
#about-founder {
display: flex; 
flex-direction: row;
}

#about-founder {
display: flex; 
flex-direction: row;
}

#founder-pic {
padding-left: 80px;
margin-top: auto;
margin-bottom: auto;
} 

}