

.wrapper#contact-hero {
display: flex;
flex-direction: column;
}

#contact-hero-content {
display: flex;
flex-direction: column;
justify-content: center;
gap: 32px;
}

#contact-text {
  
}

#contact-info {
display: flex; 
flex-direction: column;
gap: 28px;
}

.contact-info-item {
display: flex;
gap: 8px;
}




#contact-form {
display: flex;
flex-direction: column;
padding: 42px 42px 32px 42px;
border-radius: 30px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.04);
box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.10);
backdrop-filter: blur(42px);
}

#contact-form form input {
color: #fff;
}





.contact-form-field {
display: flex;
height: 44px;
padding: 10px 14px;
align-items: center;
gap: 14px;
align-self: stretch;

border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(0, 0, 0, 0.12);
backdrop-filter: blur(7.349999904632568px);
width: 100%;

}

.contact-form-textarea {

border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(0, 0, 0, 0.12);
backdrop-filter: blur(7.349999904632568px);
width: 100%;

}


#contact-form-top {
display: flex;
flex-direction: column;
margin-bottom: 32px;
gap: 18px;
}


#contact-form-top > input#name {
background: url("static/icons/contact/contact-name.svg");
background-repeat: no-repeat;
background-position: right;
}

#contact-form-top > input#email {
background: url("static/icons/contact/contact-email.svg");
background-repeat: no-repeat;
background-position: right;
}


#contact-form-bottom {
display: flex;
flex-direction: column;
}

#contact-form-bottom > div > input#phone {
background: url("static/icons/contact/contact-phone.svg");
background-repeat: no-repeat;
background-position: right;
}

#contact-form-bottom > div > input#company {
background: url("static/icons/contact/contact-company.svg");
background-repeat: no-repeat;
background-position: right;
}

#contact-form-bottom > div > input#website {
background: url("static/icons/contact/contact-website.svg");
background-repeat: no-repeat;
background-position: right;
}

#contact-form-bottom > div > input#budget {
background: url("static/icons/contact/contact-budget.svg");
background-repeat: no-repeat;
background-position: right;
}

#contact-form-message {
display: flex;
flex-direction: column;
grid-column: span 2;
width: 100%;
}

#contact-form-message > textarea {
resize: none;
}

.btn-primary-no-icon > input {
  all: unset;
}


/* FAQ SECTION  */

#contact-faq {
display: flex;
flex-direction: column;
}

#contact-faq-text {
text-align: center;
}

#contact-faq-text-body {
max-width: 80%;
margin: auto;
}

.collapsible {
  border-radius: 14px;
border: 1px solid rgba(92, 87, 205, 0.20);
background: var(--White, #FFF);
box-shadow: 0 0 20px 0 rgba(92, 87, 205, 0.15);


  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  outline: none;
}

.faq-arrow-close {
display: none;
}

.active .faq-arrow-open {
display: none;
}

.active .faq-arrow-close {
display: block;
}

/* .active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
} */

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

#contact-faq > div {
border-radius: 14px;
}

#contact-faq > div > button {
display: flex;
}

#contact-faq > div > button > img {
margin-left: auto;
}


@media screen and (min-width: 768px) {

.wrapper#contact-hero {
display: flex;
flex-direction: row;
}

.wrapper#contact-hero div {
flex: 1;
}

#contact-form-bottom {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 32px;
margin-bottom: 32px;
gap: 18px;
}




}