

#contact {
display: flex;
flex-direction: row;
margin-top: 100px;
margin-bottom: 100px;

}


#contact-content {
flex: 1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

padding: 32px;
}

#contact-text {
margin-bottom: 32px;
}

#contact-info {
margin-right: auto;
}

.contact-info-item {
display: flex;
align-items: center;
margin-bottom: 32px;
}
.contact-info-item img {
padding-top: 2px;
margin-bottom: auto;
margin-right: 16px;
}





#contact-form {
margin: 32px;
padding: 32px;
flex: 1;
display: flex;
flex-direction: column;
border-radius: 30px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.04);
box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.10);
backdrop-filter: blur(42px);
}

#contact-form form input, #contact-form form textarea {
color: #fff;
margin-top: 4px;
padding-left: 8px;
}

#contact-form form input::placeholder {
opacity: 0.6;
}

#contact-form span {
margin-left: 4px;
font-size: 18px;
}

#contact-form hr {
margin-top: 32px;
margin-bottom: 32px;
}






.contact-form-field {
display: flex;
align-items: center;
gap: 14px;
height:40px;
border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(0, 0, 0, 0.12);

width: 100%;
}

.contact-form-textarea {

border-radius: 8px;
border: 1px solid rgba(255, 255, 255, 0.10);
background: rgba(0, 0, 0, 0.12);
backdrop-filter: blur(7.349999904632568px);
width: 100%;

}


#contact-form-top {
display: flex;
flex-direction: column;
}

#contact-name {
margin-bottom: 18px;
}

#contact-form-bottom {
display: grid;
grid-template-columns: 1fr 1fr;
margin-top: 32px;
margin-bottom: 32px;
gap: 18px;
}

#contact-form-top > div > input#name {
background: url("static/icons/contact/contact-name.svg");
background-repeat: no-repeat;
background-position: 98%;
}

#contact-form-top > div > input#email {
background: url("static/icons/contact/contact-email.svg");
background-repeat: no-repeat;
background-position: 98%;
}



#contact-form-bottom > div > input#phone {
background: url("static/icons/contact/contact-phone.svg");
background-repeat: no-repeat;
background-position: 98%;
}

#contact-form-bottom > div > input#company {
background: url("static/icons/contact/contact-company.svg");
background-repeat: no-repeat;
background-position: 98%;
}

#contact-form-bottom > div > input#website {
background: url("static/icons/contact/contact-website.svg");
background-repeat: no-repeat;
background-position: 98%;
}

#contact-form-bottom > div > input#budget {
background: url("static/icons/contact/contact-budget.svg");
background-repeat: no-repeat;
background-position: 98%;
}

#contact-form-message {
display: flex;
flex-direction: column;
grid-column: span 2;
width: 100%;
}

#contact-form-message > textarea {
resize: none;
}

.btn-primary-no-icon > input {
  all: unset;
}


/* FAQ SECTION  */

.wrapper#faq {
padding-bottom: 100px;
}

#contact-faq {
display: flex;
flex-direction: column;
}

#contact-faq-text {
text-align: center;
margin-bottom: 50px;
padding-top: 100px;
}

#contact-faq-text-body {
max-width: 80%;
margin: auto;
}

.collapsible {



  color: white;
  cursor: pointer;

  width: 100%;
  text-align: left;
  outline: none;
}

.faq-arrow-close {
display: none;
}

.active .faq-arrow-open {
display: none;
}

.active .faq-arrow-close {
display: block;
}

.active {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;


  color: white;
  cursor: pointer;
  width: 100%;
  text-align: left;
  outline: none;
}



#contact-faq > div {
padding: 16px 24px 18px 24px;
border-radius: 14px;


border: 1px solid rgba(92, 87, 205, 0.20);
background: var(--White, #FFF);
box-shadow: 0 0 20px 0 rgba(92, 87, 205, 0.15);
margin-bottom: 20px;
}

.content {

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #fff;
  border-radius: 14px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-right: auto;
  width: 90%;
}



#contact-faq > div > button {
display: flex;
}

#contact-faq > div > button > img {
margin-left: auto;
}


@media screen and (min-width: 768px) {








}