/* HERO SECTION */

.wrapper#home-hero {
margin-top: 136px;
margin-bottom: 197px;
}

.eyebrow {
margin: auto;
margin-bottom: 32px;
padding: 8px 18px 8px 14px;
max-width: max-content;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;

border-radius: 100px;
border: 1px solid rgba(255, 255, 255, 0.12);
background: rgba(255, 255, 255, 0.07);
backdrop-filter: blur(7px);
}

.eyebrow svg {
width: 8px;
height: 8px;
aspect-ratio: 1/1;
}

.wrapper#home-hero h1 {
margin-bottom: 24px;
}

#home-hero-body {
margin-bottom: 58px;
}

#hero-buttons {
display: flex; 
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
}


/* (Medium) */
@media screen and (min-width: 768px) {

#hero-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

}

/* BRAND SECTION */
/* #brand-bg-shape {

} */




.wrapper#brand {
display: flex;
flex-direction: column;
padding-top: 120px;
padding-bottom: 120px;
gap: 100px;
}

/* (Medium) */
@media screen and (min-width: 768px) {

.wrapper#brand {
  display: flex;
  flex-direction: row;
}

}


#brand-content {
  flex: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 32px;

}




#brand-content-text {
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
}

#brand-button-lg {

}


#brand-system {
  flex: 1;
padding: 28px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 32px;

border-radius: 30px;
border: 1.5px solid var(--White, #FFF);
background: rgba(255, 255, 255, 0.50);
box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.08);
backdrop-filter: blur(22px);
}

#brand-system-top {
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
max-height: 36px;
}



#brand-system-eyebrow {
margin-left: auto;
padding: 0px 18px 0px 18px;
max-width: max-content;
max-height: 34px;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
border-radius: 100px;
border: 1px solid rgba(92, 87, 205, 0.20);
background: rgba(92, 87, 205, 0.06);
backdrop-filter: blur(7px);
}

#brand-system-body {
display: flex;
justify-content: space-between;
align-items: center;
gap: 20px;
align-self: stretch;
}

#brand-system-body h3 {
width: 225px;
text-align: left;
}

#brand-system-body p {
width: 196px;
text-align: right;
}


#brand-system-cards {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;


background: rgba(255, 255, 255, 0.20);
box-shadow: 0 0 20px 0 rgba(41, 17, 74, 0.02);
align-items: center;
}

#brand-system-card {
text-align: left;
padding: 16px;
border-radius: 10px;
background: var(--White, #FFF);
box-shadow: 0 0 20px 0 rgba(41, 17, 74, 0.02);

}


#brand-system-bottom {
padding: 10px 18px;
  display: flex;
justify-content: center;
align-items: center;
gap: 10px;


border-radius: 10px;
border: 1px solid rgba(92, 87, 205, 0.20);
background: rgba(92, 87, 205, 0.06);
}





#brand-button-lg {
display: none;
}

/* (Medium) */
@media screen and (min-width: 768px) {

#brand-button-sm {
display: none;
}


#brand-button-lg {
display: block;
}

}

/* SERVICES SECTION */




#services-text {
margin-top: 100px;
}



#services-cards {
 display: flex;
  flex-direction: column;
}


#services-card {
display: flex;
padding: 34px 32px 36px 32px;
flex-direction: column;
align-items: flex-start;
/* gap: 34px; */
flex: 1 0 0;
align-self: stretch;
border: dotted;
}

/* (Medium) */
@media screen and (min-width: 768px) {

#services-cards {
 
  display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: auto auto;
  gap: 14px;
  row-gap: 14px;


background: rgba(255, 255, 255, 0.20);
box-shadow: 0 0 20px 0 rgba(41, 17, 74, 0.02);
align-items: center;

padding: 60px;



}

}


#services-card > img {
border-radius: 60px;
background: #fff;
box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);
}

#services-btn {
margin: auto;
}

/* TESTIMONIALS SECTION */

section#testimonials {

background-image: url("static/images/pages/testimonials-bg.svg");
background-size: cover;
background-repeat: no-repeat;

}

.wrapper#testimonials {
display: flex;
flex-direction: column;
}

/* (Medium) */
@media screen and (min-width: 768px) {

.wrapper#testimonials {
  display: flex;
  flex-direction: row;
}

}

#testimonial-content {
display: flex;
flex-direction: column;
}



#testimonials-eyebrow {
padding: 0px 18px 0px 18px;
max-width: max-content;
max-height: 34px;
display: flex;
align-items: center;
gap: 8px;
border-radius: 100px;
border: 1px solid rgba(92, 87, 205, 0.20);
background: rgba(92, 87, 205, 0.06);
backdrop-filter: blur(7px);
}

#testimonial-buttons-lg {
display: none;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

#testimonial-buttons-sm {
display: flex;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

/* (Medium) */
@media screen and (min-width: 768px) {

#testimonial-buttons-lg {
display: flex;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

#testimonial-buttons-sm {
display: none;
align-items: flex-start;
gap: 16px;
align-self: stretch;
}

}

#testimonial-cards {
margin: auto;
}

#testimonial-card {
display: flex;
flex-direction: column;

border-radius: 20px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(255, 255, 255, 0.03);
backdrop-filter: blur(22px);
}

#testimonial-profile {
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
gap: 12px;
}

#testimonial-rating {
margin-left: auto;
}

/* #testimonial-card-divider {
width: 8px;
height: 100%;
position: absolute;
bottom: -9px;
background: var(--Purple, #5C57CD);
} */

/* PLATFORMS SECTION  */

.wrapper#platforms > h2 {
margin-top: 0;
margin-bottom: 0;
}

.wrapper#platforms > p {
  text-align: center;

}

#pills {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
gap: 16px;
align-self: stretch;
flex-wrap: wrap;
}

.pill {
display: flex;
height: 46px;
padding: 11px 22px 11px 18px;
align-items: center;
gap: 14px;

border-radius: 100px;
border: 1px solid #ECECF1;
background: #F5F5F9;
}

