/* HERO SECTION */



#services-grid {
display: flex;
flex-direction: column;
}

#services-content {
  flex: 1;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: center;
gap: 58px;

}




#services-stack {
display: flex;
flex: 1;
padding: 26px;
flex-direction: column;
align-items: flex-start;
gap: 26px;

border-radius: 30px;
border: 1px solid rgba(255, 255, 255, 0.18);
background: linear-gradient(90deg, rgba(255, 255, 255, 0.16) 0%, rgba(255, 255, 255, 0.05) 100%);
box-shadow: 0 24px 70px 0 rgba(0, 0, 0, 0.18);
backdrop-filter: blur(14.999999046325684px);
}

#services-stack-top {
display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;
}

#services-stack-dots {
display: flex;
align-items: center;
gap: 9px;
}


#services-stack-eyebrow {
margin-left: auto;
padding: 0px 18px 0px 18px;
max-width: max-content;
height: 34px;
display: flex;
align-items: center;
justify-content: center;
gap: 8px;
border-radius: 100px;
border: 1px solid rgba(92, 87, 205, 0.20);
background: rgba(92, 87, 205, 0.06);
backdrop-filter: blur(7px);
}

#services-stack > hr {
width: 100%;
margin-bottom: 26px;
border-color: #FFFFFF14;
}



#services-stack-cards {
display: grid;
grid-template-columns: auto auto auto;
grid-template-rows: auto auto auto;
grid-auto-flow: column;
gap: 14px;
row-gap: 14px;


box-shadow: 0 0 20px 0 rgba(41, 17, 74, 0.02);



}

#services-stack-card {
display: flex;
width: 163.333px;
padding: 14px;
flex-direction: column;
align-items: flex-start;
gap: 10px;

border-radius: 18px;
border: 1px solid rgba(255, 255, 255, 0.13);
background: rgba(255, 255, 255, 0.034);
backdrop-filter: blur(9px);

}

#services-stack-card-tall {
display: flex;
padding: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
background: var(--White, #FFF);
box-shadow: 0 0 20px 0 rgba(41, 17, 74, 0.02);
grid-row: span 3;

border-radius: 16px;
background: var(--Gradient, linear-gradient(110deg, #5C57CD 1.28%, #332E9D 99.01%));
}






/* BRAND SECTION */

.wrapper#services-brand {
padding-top: 100px;
padding-bottom: 100px;
}


#services-brand-grid {
display: flex;
flex-direction: column;
}

#services-brand-grid div {
flex: 1;
}


#services-brand-image {
margin-right: 60px;
}

#services-brand-content button {
margin-top: 32px;
}





/* (Medium) */
@media screen and (min-width: 768px) {

#services-grid {
margin-top: 80px;
display: flex;
flex-direction: row;
margin-bottom: 90px;
}

#services-brand-grid {
display: flex;
flex-direction: row;
}

}


/* SERVICES SECTION */


section#services-services {
background-image: url("static/decor-ellipse.svg");
background-repeat: no-repeat;
background-position: bottom;
background-size: cover;
}


#services-text {
margin-top: 100px;
text-align: center;
}


#services-text-desc {
max-width: 75%;
margin: auto;
}



#services-cards {
display: flex;
flex-direction: column;
}


#services-card {
flex: 1;
display: flex;

border-radius: 20px;
border: 1.5px solid var(--White, #FFF);
background: rgba(255, 255, 255, 0.50);
backdrop-filter: blur(17px);
}



/* (Medium) */
@media screen and (min-width: 768px) {

#services-cards {
 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 22px;

margin-top: 60px;
margin-bottom: 60px;

}

#services-card {
padding: 32px;
display: flex;
flex-direction: column;

border-radius: 20px;
border: 1.5px solid var(--White, #FFF);
background: rgba(255, 255, 255, 0.50);
backdrop-filter: blur(17px);
}

}


#services-card > img {
margin-bottom: 34px;

border-radius: 60px;
background: #fff;
box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.08);

}

#services-btn {
margin: auto;
margin-bottom: 60px;
}



/* CTA SECTION!!! */


section#services-cta {
padding-top: 100px;
}