/* CTA SECTION */




.cta-bg {
padding: 80px 58px 70px 58px;
background-image: url("static/images/pages/cta-bg.svg");
background-size: cover;
background-repeat: no-repeat;
border-radius: 30px;
}

.cta-content {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.cta-content h2 {
text-align: center;
}

.cta-content p {
text-align: center;
}
