footer {
background-color: #141416;

}

.wrapper#footer {
/* display: flex;
width: 1240px;

flex-direction: column;
align-items: center; */
}

.footer-grid {
padding: 80px 10px;
margin-bottom: 20px;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr;

}

.footer-grid ul {
list-style-type: none;

margin: 0;
padding: 0;
overflow: hidden;
}

.footer-grid ul li {
text-decoration: none;
margin-top: 14px;
}

.footer-grid ul li a {
text-decoration: none;
}


#footer-brand {
grid-column: span 2;
width: 292px;
}

#footer-brand p {
grid-column: span 2;
width: 292px;
margin-top: 20px;
}

#footer-nav {
display: flex;
flex-direction: column;
}

#footer-company {
display: flex;
flex-direction: column;
}

#footer-social {
grid-column: span 2;
display: flex;
flex-direction: column;
}

#footer-social a {
text-decoration: none;
margin-top: 14px;
}

#footer-copyright {
display: flex;
align-items: center;
justify-content: center;
margin-top: 32px;
padding-bottom: 40px;
}

.wrapper#footer hr {
border-color: #FFFFFF14;
}




/* (Medium) */
@media screen and (min-width: 768px) {

.footer-grid {
padding: 80px 10px;
display: flex;
justify-content: space-between;
align-items: flex-start;
margin-bottom: 88px;
}

#footer-brand {
display: flex;
width: 292px;
flex-direction: column;
}

#footer-nav {
display: flex;
flex-direction: column;
}

#footer-company {
display: flex;
flex-direction: column;
}

#footer-social {
display: flex;
flex-direction: column;
}

}