body {
  margin: 0;
  padding: 0;
}

section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}




