.nav-hero-bg {
background-image: url("static/images/pages/hero-bg.svg");
background-size: cover;
background-repeat: no-repeat;
}



nav {
padding-top: 20px;
padding-bottom: 20px;
padding-left: 28px;
padding-right: 14px;


border: 1px solid rgba(255, 255, 255, 0.05);
background: rgba(255, 255, 255, 0.04);
box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.15);

}

#main-nav {
display: flex;
 justify-content: center;
 align-items: center;
}



#nav-logo {
  margin-right: auto;
}

#nav-cta {
  margin-left: auto;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

nav ul li a {

  text-decoration: none;

  color: var(--white-70, rgba(255, 255, 255, 0.70));
/* Body/S */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}

nav ul li a:hover:not(.active) {

/* padding: 6px 8px; */
/* justify-content: center;
align-items: center; */
 
 
border-radius: 100px;
background: rgba(255, 255, 255, 0.06);

}

nav ul li a.active {
border-radius: 100px;
background: rgba(255, 255, 255, 0);

  color: #fff;
/* Body/S */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 150%; /* 21px */
}


#nav-cta-button {
padding: 16px 24px;
justify-content: center;
align-items: center;

border-radius: 50px;
border: 1px solid rgba(255, 255, 255, 0.20);
background: rgba(0, 0, 0, 0.10);
backdrop-filter: blur(12px);
}

#nav-cta-button a {
text-decoration: none;
}

.mobile-menu {
display: none;
list-style-type: none;
}




.mobile-menu ul li a {
  /* display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; */
}

.mobile-menu ul li a:hover:not(.active) {
  /* background-color: #111111; */
}

.mobile-menu ul li a.active {
  /* background-color: #04AA6D; */
}



.sm {
  display: flex;
}

.md {
 display: none;
}

.lg {
  display: none;
}


/* Look in buttons.css */
/* #hamburger-button {
  align-items: center;
} */



/* (Medium) */
@media screen and (min-width: 768px) {
  
.sm {
  display: none;
}

.md {
 display: flex;
}

.nav-hero-bg {
padding-top: 30px;
}

nav {
border-radius: 100px;
  max-width: 1200px;
  margin: auto;
}


}

/* (Large) */
@media screen and (min-width: 992px) {
  .lg {
  display: flex;
}
}