nav {
 display: flex;
}



#nav-logo {
  margin-right: auto;
}

#nav-cta {
  margin-left: auto;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.active) {
  background-color: #111111;
}

nav ul li a.active {
  background-color: #04AA6D;
}



.mobile-menu {
  display: none;
  list-style-type: none;
}




.mobile-menu ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.mobile-menu ul li a:hover:not(.active) {
  background-color: #111111;
}

.mobile-menu ul li a.active {
  background-color: #04AA6D;
}



.sm {
  display: flex;
}

.md {
 display: none;
}

.lg {
  display: none;
}


/* Look in buttons.css */
/* #hamburger-button {
  align-items: center;
} */



/* (Medium) */
@media screen and (min-width: 768px) {
  
.sm {
  display: none;
}

.md {
 display: flex;
}

}

/* (Large) */
@media screen and (min-width: 992px) {
  .lg {
  display: flex;
}
}