{{ define "main" }}

<section id="blog-hero">{{ partial "blog/hero.html" }}</div>
</section>

<section>
  <div class="wrapper">
    <div id="blog-posts-top">
      <h2>Recent Blog Posts</h2>
      <div>
        <p>All</p>
        <p>UI Design</p>
        <p>UX Design</p>
        <p>Development</p>
        <p>Application</p>
        <p>Finance</p>
      </div>
    </div>
    <div id="blog-posts">

      {{ $posts := where .Site.RegularPages "Section" "blog" }}
      {{ $posts = $posts.ByDate.Reverse }}







      {{ range (.Paginate $posts 4).Pages }}
      <div class="blog-post-card">









        {{ $coverImage := .Resources.Get "./cover.png" }}
        {{ if $coverImage }}

        {{ $coverWebP := $coverImage.Resize "610x320 webp q85" }}
        {{ $coverWebPSmall := $coverImage.Resize "320x200 webp q85" }}

        <div class="blog-cover">
          <img src="{{ $coverWebP.RelPermalink }}"
            srcset="{{ $coverWebPSmall.RelPermalink }} 320w, {{ $coverWebP.RelPermalink }} 610w"
            sizes="(width <= 768px) 320px, 610px" alt="" class="" loading="eager" fetchpriority="high" />

          {{ else }}

          {{/* Fallback to static image */}}
          <img src="/images/tailbliss-rocket-indigo.webp" alt="TailBliss Hero" class="" width="576" height="576"
            loading="eager" fetchpriority="high" />

          {{ end }}
        </div>

        <div>
          <div class="post-date">
            <img src="/icons/blog/calendar.svg" />
            {{ $format := "02 January 2006" }}
            <p>{{ .Date.Format $format }}</p>
          </div>
          <h3 class="h3-card-title">{{ .Title }}</h3>
          <p>{{ .Description }}</p>
          <div class="read-more">
            <p>
              <a href="{{ .RelPermalink }}">Read More
                <img src="/icons/arrow-forward.svg" />
              </a>
            </p>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div>
      {{ partial "pagination.html" . }}
    </div>
  </div>
</section>

<section>{{ partial "cta-alt.html" }}</section>

{{ end }}