{{ define "main" }}

<section id="portfolio-hero">{{ partial "portfolio/hero.html" }}</div>
</section>

<section>
  <div class="wrapper">
    <div id="portfolio-projects-top">
      <h2>Recent portfolio projects</h2>
      <div>
        <p>All</p>
        <p>UI Design</p>
        <p>UX Design</p>
        <p>Development</p>
        <p>Application</p>
        <p>Finance</p>
      </div>
    </div>



    <div id="portfolio-projects">

      {{ $projects := where .Site.RegularPages "Section" "portfolio" }}
      {{ $projects = $projects.ByDate.Reverse }}







      {{ range (.Paginate $projects 4).Pages }}

      <div class="portfolio-project-card">

      

        {{ $coverImage := .Resources.Get "./logo.svg" }}
        {{ if $coverImage }}

        <div class="portfolio-cover" id="{{ .Title }}">
          {{/*  <p class="portfolio-cover-pill">{{ .Params.project_type }}</p>  */}}
          <img src="{{ $coverImage.RelPermalink }}"
          />

          {{ end }}
        </div>
        <div class="portfolio-body">
        <div class="portfolio-text">
          
          <h3 class="h3-card-title">{{ .Description }}</h3>
      
          <p>{{ .Params.meta_description }}</p>
       

             

        
    


        </div>
        <div class="portfolio-button">
         <a href="{{ .RelPermalink }}">
                <img src="/icons/arrow-forward.svg" />
              </a>
        </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div>
      {{ partial "pagination.html" . }}
    </div>
  </div>
</section>

<section>{{ partial "cta-alt.html" }}</section>

{{ end }}