{{ define "main" }}

<section id="portfolio-hero">
  {{ partial "portfolio/hero.html" }}
  </div>
</section>

<section>
  <div class="wrapper">
    <div id="portfolio-projects-top">
      <h2>Some Recent Projects</h2>
      <div>
        <p>All</p>
        <p>UI Design</p>
        <p>UX Design</p>
        <p>Development</p>
        <p>Application</p>
        <p>Finance</p>
      </div>
    </div>

    <div id="portfolio-projects-main">

      {{ $projects := where .Site.RegularPages "Section" "portfolio" }}
      {{ $projects = $projects.ByDate.Reverse }}







      {{ range (.Paginate $projects 6).Pages }}
      <div class="project-card">
        {{ with .Resources.Get "./cover.png" }}
        <div class="project-cover">
          {{ with .Resize "300x600" }}
          <img src="{{ .RelPermalink }}" alt="" />
          {{ end }}
          {{ end }}
        </div>

        <div>
          <h3>{{ .Title }}</h3>
          <p>{{ .Params.project_type }}</p>
        </div>

        <p>{{ .Description }}</p>
        <div class="read-more">
            <p>
              <a href="{{ .RelPermalink }}"
                >Learn More
                <img src="/icons/blog/arrow-forward.svg" />
              </a>
            </p>
          </div>
      </div>
      {{ end }}
    </div>
    <div>
      {{ partial "pagination.html" . }}
    </div>
  </div>
  <div id="portfolio-projects-bottom"></div>
  </div>

</section>

<section>
  {{ partial "cta-alt.html" }}
</section>

{{ end }}