{{ define "main" }}

<section id="portfolio-hero">{{ partial "portfolio/hero.html" }}</div>
</section>

<section>
  <div class="wrapper">
    <div id="portfolio-projects-top">
      <h2>Recent portfolio projects</h2>
      <div>
        <p>All</p>
        <p>UI Design</p>
        <p>UX Design</p>
        <p>Development</p>
        <p>Application</p>
        <p>Finance</p>
      </div>
    </div>



    <div id="portfolio-projects">

      {{ $projects := where .Site.RegularPages "Section" "portfolio" }}
      {{ $projects = $projects.ByDate.Reverse }}







      {{ range (.Paginate $projects 4).Pages }}

      <div class="portfolio-project-card">

        {{ $coverImage := .Resources.Get "./cover.png" }}
        {{ if $coverImage }}

        {{ $coverWebP := $coverImage.Resize "530x408 webp q85" }}
        {{ $coverWebPSmall := $coverImage.Resize "320x200 webp q85" }}

        <div class="portfolio-cover">
          <p class="portfolio-cover-pill">{{ .Params.project_type }}</p>
          <img src="{{ $coverWebP.RelPermalink }}"
            srcset="{{ $coverWebPSmall.RelPermalink }} 320w, {{ $coverWebP.RelPermalink }} 610w"
            sizes="(width <= 768px) 320px, 610px" alt="" class="" loading="eager" fetchpriority="high" />

          {{ else }}

          {{/* Fallback to static image */}}
          <img src="/images/tailbliss-rocket-indigo.webp" alt="TailBliss Hero" class="" width="576" height="576"
            loading="eager" fetchpriority="high" />

          {{ end }}
        </div>

        <div class="portfolio-text">

          <h3 class="h3-card-title">{{ .Title }}</h3>
          <div>
            <p>{{ .Description }}</p>
       

              <a href="{{ .RelPermalink }}">
                <img src="/icons/arrow-forward.svg" />
              </a>

        
          </div>


        </div>
      </div>
      {{ end }}
    </div>
    <div>
      {{ partial "pagination.html" . }}
    </div>
  </div>
</section>

<section>{{ partial "cta-alt.html" }}</section>

{{ end }}