<div class="wrapper">
  <div id="portfolio-projects-top">
    <h2>Some Recent Projects</h2>
    <div>
      <p>All</p>
      <p>UI Design</p>
      <p>UX Design</p>
      <p>Development</p>
      <p>Application</p>
      <p>Finance</p>
    </div>
  </div>

  <div id="portfolio-projects-main">
    <div>
      <img src="/images/pages/portfolio-project.png" />
      <div>
        <h3>Velure Fashion</h3>
        <p>E-Commerce Design</p>
      </div>
      <p>
        Built a seamless shopping experience for Velure's boutique, combining
        elegant product presentation with a high-converting, mobile-first
        checkout flow.
      </p>
    </div>
    <div>
      <img src="/images/pages/portfolio-project.png" />
      <div>
        <h3>Velure Fashion</h3>
        <p>E-Commerce Design</p>
      </div>
      <p>
        Built a seamless shopping experience for Velure's boutique, combining
        elegant product presentation with a high-converting, mobile-first
        checkout flow.
      </p>
    </div>
    <div>
      <img src="/images/pages/portfolio-project.png" />
      <div>
        <h3>Velure Fashion</h3>
        <p>E-Commerce Design</p>
      </div>
      <p>
        Built a seamless shopping experience for Velure's boutique, combining
        elegant product presentation with a high-converting, mobile-first
        checkout flow.
      </p>
    </div>
    <div>
      <img src="/images/pages/portfolio-project.png" />
      <div>
        <h3>Velure Fashion</h3>
        <p>E-Commerce Design</p>
      </div>
      <p>
        Built a seamless shopping experience for Velure's boutique, combining
        elegant product presentation with a high-converting, mobile-first
        checkout flow.
      </p>
    </div>
    <div>
      <img src="/images/pages/portfolio-project.png" />
      <div>
        <h3>Velure Fashion</h3>
        <p>E-Commerce Design</p>
      </div>
      <p>
        Built a seamless shopping experience for Velure's boutique, combining
        elegant product presentation with a high-converting, mobile-first
        checkout flow.
      </p>
    </div>
    <div>
      <img src="/images/pages/portfolio-project.png" />
      <div>
        <h3>Velure Fashion</h3>
        <p>E-Commerce Design</p>
      </div>
      <p>
        Built a seamless shopping experience for Velure's boutique, combining
        elegant product presentation with a high-converting, mobile-first
        checkout flow.
      </p>
    </div>
  </div>
  <div id="portfolio-projects-bottom"></div>
</div>
