<div id="app-form">
  <form action="https://formspree.io/f/mdajzzoo" method="POST">
    <div id="app-form-top">
      <div>
        <label for="name"
          ><p class="bright">Name<span class="purple">*</span></p></label
        >
        <input
          type="text"
          class="app-form-field"
          id="name"
          name="name"
          placeholder="Jane Doe"
        />
      </div>
      <div>
        <label for="email"
          ><p class="bright">Email<span class="purple">*</span></p></label
        >
        <input
          type="text"
          class="app-form-field"
          id="email"
          name="email"
          placeholder="jdoe@company.com"
        />
      </div>
    </div>
    <hr />
    <div id="app-form-bottom">
      <div>
        <label for="phone"><p class="bright">Phone Number</p></label>
        <input
          type="text"
          class="app-form-field"
          id="phone"
          name="phone"
          placeholder="(555)123-4567"
        />
      </div>
      <div>
        <label for="company"><p class="bright">Company Name</p></label>
        <input
          type="text"
          class="app-form-field"
          id="company"
          name="company"
          placeholder="ABC Construction"
        />
      </div>
      <div>
        <label for="website"><p class="bright">Company Website</p></label>
        <input
          type="text"
          class="app-form-field"
          id="website"
          name="website"
          placeholder="abc-construction.com"
        />
      </div>
      <div>
        <label for="budget"><p class="bright">Project Budget</p></label>
        <input
          type="text"
          class="app-form-field"
          id="budget"
          name="budget"
          placeholder="$10,000-$50,000"
        />
      </div>
      <div id="app-form-message">
        <label for="message"><p class="bright">Message</p></label>
        <textarea
          name="message"
          id="message"
          class="app-form-textarea"
          cols="30"
          rows="10"
        ></textarea>
      </div>
    </div>
    <div class="btn-primary-no-icon">
      <input type="submit" value="Get in Touch" />
    </div>
  </form>
</div>
