 <script>
  document.getElementById("hamburger-button").addEventListener("click", showMobileMenu);
  document.getElementById("close-button").addEventListener("click", hideMobileMenu);

function showMobileMenu(){
    console.log('toggleMenu flex');
    const mobilemenu = document.querySelector('.mobile-menu')
    mobilemenu.style.cssText = `
        
        display: grid; 
        
    
        `;

    
}
function hideMobileMenu(){
    console.log('toggleMenu none');
    const mobilemenu = document.querySelector('.mobile-menu')
    mobilemenu.style.cssText = 'none'
}

</script> 