 <script>
  document.getElementById("hamburger-button").addEventListener("click", showMobileMenu);
  document.getElementById("close-button").addEventListener("click", hideMobileMenu);

function showMobileMenu(){
    console.log('toggleMenu flex');
    const mobilemenu = document.querySelector('.mobilemenu')
    mobilemenu.style.display = 'flex'
    
}
function hideMobileMenu(){
    console.log('toggleMenu none');
    const mobilemenu = document.querySelector('.mobilemenu')
    mobilemenu.style.display = 'none'
}
</script> 