 <script>
  document.getElementById("hamburger-button").addEventListener("click", showMobileMenu);
  document.getElementById("close-button").addEventListener("click", hideMobileMenu);

function showMobileMenu(){
    console.log('toggleMenu flex');
    const mobilemenu = document.querySelector('.mobile-menu')
    mobilemenu.style.cssText = `
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        gap: 12px;
        padding-top: 24px;
    
        `;

    
}
function hideMobileMenu(){
    console.log('toggleMenu none');
    const mobilemenu = document.querySelector('.mobile-menu')
    mobilemenu.style.cssText = 'none'
}

</script> 