 <script>
  document.getElementById("btn-arrow-left").addEventListener("click", prevTestimonial);
  document.getElementById("btn-arrow-right").addEventListener("click", nextTestimonial);

function nextTestimonial(){
    console.log('nextTestimonial');
    const testimonialCard = document.querySelector('#testimonial-card')
    testimonialCard.style.cssText = `
        
        
        
    
        `;

    
}
function prevTestimonial(){
    console.log('prevTestimonial');
    const testimonialCard = document.querySelector('#testimonial-card')
    testimonialCard.style.cssText = `



    `;
}

</script> 