
<div class="wrapper" id="contact-faq">
<div>
    <button type="button" class="collapsible">
        <p>
            Why choose a boutique web design and development agency over a national
            team?
        </p>
        <img src="/icons/contact/faq-arrow-down.svg" class="faq-arrow-open" />
        <img src="/icons/contact/faq-arrow-up.svg" class="faq-arrow-close" />
    </button>
    <div class="content">
        <p>
            We have more flexibility and time to get to know you, your brand, and your
            goals. That means we can better integrate personalized details you won’t
            get with a larger team focused more on fast turnaround times than quality
            results.
        </p>
    </div>
</div>

<div>
    <button type="button" class="collapsible">
        <p>What is included in the consultation?</p>
        <img src="/icons/contact/faq-arrow-down.svg" class="faq-arrow-open" />
        <img src="/icons/contact/faq-arrow-up.svg" class="faq-arrow-close" />
    </button>
    <div class="content">
        <p>
            We'll go over your goals and collect all the information we can before
            creating a plan for your website and providing an estimate for the work.
            That plan can be adjusted as needed to best fit your needs, and we always
            communicate every step of the way as we hit new benchmarks or milestones.
        </p>
    </div>
</div>

<div>
    <button type="button" class="collapsible">
        <p>Can you redesign my current site, or should we start from scratch?</p>
        <img src="/icons/contact/faq-arrow-down.svg" class="faq-arrow-open" />
        <img src="/icons/contact/faq-arrow-up.svg" class="faq-arrow-close" />
    </button>
    <div class="content">
        <p>
            We can work with what you already have or can build everything from
            scratch. Our team is well-versed in the most popular CMS and web
            platforms, offering everything from custom integrations to hosting
            recommendations.
        </p>
    </div>
</div>

<div>
    <button type="button" class="collapsible">
        <p>What industries do you work with?</p>
        <img src="/icons/contact/faq-arrow-down.svg" class="faq-arrow-open" />
        <img src="/icons/contact/faq-arrow-up.svg" class="faq-arrow-close" />
    </button>
    <div class="content">
        <p>
            Our clients tend to be small businesses looking to capture more leads and
            bring in new customers, as well as creators who love to showcase quality
            content and have paywalls for sources, series, and other structured
            content.
        </p>
    </div>
</div>

<div>
    <button type="button" class="collapsible">
        <p>What if I need a domain, hosting, and SEO for my site?</p>
        <img src="/icons/contact/faq-arrow-down.svg" class="faq-arrow-open" />
        <img src="/icons/contact/faq-arrow-up.svg" class="faq-arrow-close" />
    </button>
    <div class="content">
        <p>
            We can provide all those additions to your website. We will be happy to
            outline and include those features in our estimate.
        </p>
    </div>
</div>

<div>
    <button type="button" class="collapsible">
        <p>What if I have an online store?</p>
        <img src="/icons/contact/faq-arrow-down.svg" class="faq-arrow-open" />
        <img src="/icons/contact/faq-arrow-up.svg" class="faq-arrow-close" />
    </button>
    <div class="content">
        <p>
            We are more than comfortable integrating shops, including payment systems,
            digital inventories, and customer cart plugins.
        </p>
    </div>
</div>

</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>