<div class="wrapper">
  <div id="contact">
    <div id="contact-content">
      <div id="contact-text">
        <h2 class="white">Get In Touch</h2>
        <p class="white">
          Are you ready to kickstart an engaging, easy-to-navigate, and modern
          website for your brand, creative pursuit, or business future? Send any
          questions or consultation requests to our team, and we will respond as
          quickly as possible.
        </p>
      </div>
      <div id="contact-info">
        <div class="contact-info-item">
          <img src="/icons/contact/email.svg" />
          <p class="bright">contact@cynthius-solutions.com</p>
        </div>
        <div class="contact-info-item">
          <img src="/icons/contact/phone.svg" />
          <p class="bright">(414) 293-2851</p>
        </div>
        <div class="contact-info-item">
          <img src="/icons/contact/map-pin.svg" />
          <p class="bright">
            777 N Jefferson St Suite 408 PMB 1132 Milwaukee, WI 53202
          </p>
        </div>
      </div>
    </div>

    <div id="contact-form">
      <form action="https://formspree.io/f/mdajzzoo" method="POST">
        <div id="contact-form-top">
          <div>
            <label for="name">
              <p class="bright">Name<span class="purple">*</span></p>
            </label>
            <input type="text" class="contact-form-field" id="name" name="name" placeholder="Jane Doe" />
          </div>
          <div>
            <label for="email">
              <p class="bright">Email<span class="purple">*</span></p>
            </label>
            <input type="text" class="contact-form-field" id="email" name="email" placeholder="jdoe@company.com" />
          </div>
        </div>
        <hr />
        <div id="contact-form-bottom">
          <div>
            <label for="phone">
              <p class="bright">Phone Number</p>
            </label>
            <input type="text" class="contact-form-field" id="phone" name="phone" placeholder="(555)123-4567" />
          </div>
          <div>
            <label for="company">
              <p class="bright">Company Name</p>
            </label>
            <input type="text" class="contact-form-field" id="company" name="company" placeholder="ABC Construction" />
          </div>
          <div>
            <label for="website">
              <p class="bright">Company Website</p>
            </label>
            <input type="text" class="contact-form-field" id="website" name="website"
              placeholder="abc-construction.com" />
          </div>
          <div>
            <label for="budget">
              <p class="bright">Project Budget</p>
            </label>
            <input type="text" class="contact-form-field" id="budget" name="budget" placeholder="$10,000-$50,000" />
          </div>
          <div id="contact-form-message">
            <label for="message">
              <p class="bright">Message</p>
            </label>
            <textarea name="message" id="message" class="contact-form-textarea" cols="30" rows="10"></textarea>
          </div>
        </div>
        <div class="btn-primary-no-icon">
          <input type="submit" value="Get in Touch" />
        </div>
      </form>
    </div>
  </div>
</div>