<div class="wrapper" id="contact-hero">
  <div id="contact-hero-left">
    <div id="contact-text">
      <h2>Get In Touch</h2>
      <p>
        Are you ready to kickstart an engaging, easy-to-navigate, and modern
        website for your brand, creative pursuit, or business future? Send any
        questions or consultation requests to our team, and we will respond as
        quickly as possible.
      </p>
    </div>
    <div id="contact-info">
      <div class="contact-info-item">
        <img src="/icons/contact/email.svg" />
        <p>contact@cynthius-solutions.com</p>
      </div>
      <div class="contact-info-item">
        <img src="/icons/contact/phone.svg" />
        <p>(414) 293-2851</p>
      </div>
      <div class="contact-info-item">
        <img src="/icons/contact/map-pin.svg" />
        <p>777 N Jefferson St Suite 408 PMB 1132 Milwaukee, WI 53202</p>
      </div>
    </div>
  </div>

  <div id="contact-form">
    <form action="https://formspree.io/f/mdajzzoo" method="POST">
      <div id="contact-form-top">
        <label for="name">Name</label>
        <input
          type="text"
          class="contact-form-field"
          id="name"
          name="name"
          placeholder="Jane Doe"
        />

        <label for="email">Email</label>
        <input
          type="text"
          class="contact-form-field"
          id="email"
          name="email"
          placeholder="jdoe@company.com"
        />
      </div>
      <hr />
      <div id="contact-form-bottom">
        <div>
          <label for="phone">Phone Number</label>
          <input
            type="text"
            class="contact-form-field"
            id="phone"
            name="phone"
            placeholder="(555)123-4567"
          />
        </div>
        <div>
          <label for="company">Company Name</label>
          <input
            type="text"
            class="contact-form-field"
            id="company"
            name="company"
            placeholder="ABC Construction"
          />
        </div>
        <div>
          <label for="website">Company Website</label>
          <input
            type="text"
            class="contact-form-field"
            id="website"
            name="website"
            placeholder="abc-construction.com"
          />
        </div>
        <div>
          <label for="budget">Project Budget</label>
          <input
            type="text"
            class="contact-form-field"
            id="budget"
            name="budget"
            placeholder="$10,000-$50,000"
          />
        </div>
        <div id="contact-form-message">
          <label for="message">Message</label>
          <input
            type="text"
            class="contact-form-field"
            id="message"
            name="message"
            placeholder="Write your message here"
          />
        </div>
      </div>
      <div class="btn-primary-no-icon">
        <input type="submit" value="Get in Touch" />
      </div>
    </form>
  </div>
</div>
